/* Regole generali pagina */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "open sans" , sans-serif;
}

.button{
    background-color: blue;
    color: white;
    padding: 10px 20px;
}

.white-button{
    background-color: white;
    color: gray;
    border: solid 2px gray;
    padding: 10px 20px;
}

a{
    text-decoration: none;
}

h2{
    padding: 3% 0;
    font-size: 40px;
}

/* Regole header */
header #main-nav{
    background-color: yellow;
    min-height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    position: fixed;
}

header ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}

/* Jumbotron */
#jumbotron{
    /* Debug */
    width: 100%;
    background-color: rgb(0, 255, 255);
    padding-top: 5%;
}

#jumbo-container{
    width: 60%;
    background-color: rgb(130, 130, 253);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* Debug */
    /* height: 480px; */
}

.jumbo-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.jumbo-img img{
    width: 100%;
}

#jumbotron h1{
    font-size: 70px;
    font-weight: 800;
    width: 60%;
    margin: 0  auto;
}

.fa-arrow-down{
    font-size: 40px;
}

/* Regole main */
.container{
    width: 100%;
    margin: 0 auto;
    /* Debug */
    min-height: 600px;
    background-color: aquamarine;
}

.row{
    width: 60%;
    margin: 2% auto;
    display: flex;
    justify-content: space-between;
    background-color: burlywood;
}

.col-30{
    width: 30%;
    border: solid 1px gray;
}

.col-50{
    width: 50%;
}

.col-100{
    width: 100%;
    border: solid 1px gray;
}

/* Sezione buisness plan */
#billing-choise{
    width: 60%;
    margin: 0 auto;
}

section input{
    padding: 0;
}
/* Plan tab */

.tab-heading{
    border-bottom: solid 1px gray;
    padding: 1%;
    text-align: center;
}

.tab-main{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 15%;
    gap: 30px;
}

.tab-main ul li{
    list-style: none;
    margin-bottom: 10px;
}

.ul-check li:before{
    content: "\2713";
    color: blue;
    font-weight: bold;
}

#tab-horizontal-text{
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
}

.col-100 .tab-main{
    display: flex;
    flex-flow: row;
    padding: 20px;
}

/* Sezione partner */
.col-50 img{
    width: 100%;
    padding: 5%;
}

.col-50.partner{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
/* Regole footer */