/* Regole generali pagina */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "open sans" , sans-serif;
}

.button{
    background-color: blue;
    color: white;
    padding: 10px 20px;
}

a{
    text-decoration: none;
}

/* Regole header */
header #main-nav{
    background-color: yellow;
    min-height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    position: fixed;
}

header ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}

/* Jumbotron */
#jumbotron{
    /* Debug */
    width: 100%;
    background-color: rgb(0, 255, 255);
    padding-top: 5%;
}

#jumbo-container{
    width: 60%;
    background-color: rgb(130, 130, 253);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* Debug */
    /* height: 480px; */
}

.jumbo-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.jumbo-img img{
    max-width: 100%;
}

#jumbotron h1{
    font-size: 70px;
    font-weight: 800;
    width: 60%;
    margin: 0  auto;
}

.fa-arrow-down{
    font-size: 40px;
}

/* Regole main */

/* Regole footer */